<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<h1>Weather Returned</h1>
	<table  class="table" id="countryList">
	    <thead>
	        <tr>
	            <th> Date </th>
	            <th> Time </th>
	            <th> Min Temp </th>
	            <th> Current Temp </th>
	            <th> Max Temp </th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="weathers : ${weather}">
	            <td th:text="*{weathers.date}"></td>
	            <td th:text="*{weathers.time}"></td>
	            <td th:text="*{weathers.main.temp_min}"></td>
	            <td th:text="*{weathers.main.temp}"></td>
	            <td th:text="*{weathers.main.temp_max}"></td>
		    </tr>
    	</tbody>
	</table>
</div>
</body>
</html>